.bg-color {
  background-color: #008dd2;
  color: white;
  margin: 10px 0;
  padding: 10px 10px;
}

.bg-color > h4 {
  color: white;
}

.img-card {
  margin: 10px 0;
}

.m-max {
  margin: 5px 20px;
}

.review-card {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.5) 0%,
    rgba(9, 9, 121, 0.5) 35%,
    rgba(0, 212, 255, 0.5) 100%
  );
  color: white;
  padding: 10px;
  margin: 20px;
  transition: transform 0.3s;
  font-size: 22px;
}

.review-card > div {
  padding: 10px;
}
.review-card > hr {
  width: 20%;
  margin: auto;
}
.review-card > div > h4 {
  color: white;
}
.review-card > div.card-body {
  padding: 20px 25px;
}
.review-card:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.8) 0%,
    rgba(9, 9, 121, 0.8) 35%,
    rgba(0, 212, 255, 0.8) 100%
  );
  transform: scale(1.1);
}
